.profileScreen {
  background-color: #0c111b;
}
.profileScreen__section {
  margin-top: 71px;
  padding-top: 66px;
  text-align: center;
}
.profileScreen__userName {
  margin-top: 10px;
  font-size: 20px;
}

.profileScreen__userEmail {
  color: #c6c8cb;
  margin-top: 5px;
  font-size: 16px;
}

.profileScreen__logOut {
  background-color: #192133;
  margin-top: 30px;
  margin-bottom: 161px;
  font-size: 18px;
  padding-left: 20px;
  text-align: start;
  color: aliceblue;
  width: 270px;
  height: 60px;
  border: none;
  cursor: pointer;
}
